.parameter-view-container {
display: flex;
justify-content: center;
}
.parameters-container {
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
margin-top: 150px;
width: 100%;
max-width: 1200px;
}
.parameters-container>h1 {
margin-bottom: 0.2em;
}
.parameters-container>h4 {
color: var(--grey);
}
.user-icon-circled-big {
padding: 1.5em;
}
.tab-and-content-container {
display: grid;
grid-template-columns: repeat(6, 1fr);
gap: 2em;
width: 100%;
}
.tab-container {
grid-column: span 2;
display: flex;
justify-content: space-around;
}
.content-container {
grid-column: span 4;
}
.tabs {
width: 100%;
}
.tabs>* {
margin: 2em 0 2em 0;
}
.tab {
display: flex;
align-items: center;
justify-content: space-between;
width: 100%;
}
.tab:hover>.mid-tab>h3 {
    color: var(--orange);
    cursor: pointer;
}
.user-parameter-icon-circled {
padding: 0.2em;
border: 2px solid var(--orange);
border-radius: 50%;
color: var(--orange);
}
.parameter-icon {
color: var(--orange);
}
.mid-tab {
margin: 0 1em 0 1em;
}
.mid-tab>h3 {
color: white;
}
.active>.mid-tab>h3 {
    color: var(--orange);
}
.mid-tab>h4 {
color: var(--grey);
}

.single-address-container {
    display: flex;
    align-items: center;
    padding: 2em;
    margin: 1em;
    background: var(--medium-dark);
    justify-content: space-between;
    border-radius: 10px;
    color: white;
}
.single-address-container>:first-child {
    display: flex;
    align-items: center;
}
.single-address-container>:first-child>h4 {
    color: var(--grey);
}
.single-address-container>:first-child>* {
    margin: 0 0.5em;
}
.active-tab-title {
    color: white;
    margin-left: 1em;
}
.address-btn-container {
    display: flex;
    justify-content: center;
}

.email-form-container, .password-form-container {
    width: 50%;
}

.email-form-container>*, .password-form-container>* {
    margin: 0.5em;
}

.security-forms-container {
    display: flex;
}

.security-forms-vertical-spacer {
border-left: 1px solid var(--grey);
margin-left: 10px;
margin-right: 10px;
}

.security-form-field {
    width: -moz-available;
}

.submit-button-container {
    display: flex;
    justify-content: center;
}