.sales-condition-view-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px 0;
}

.sales-condition-container {
  max-width: 1000px;
}

.sales-condition-container {
  max-width: 1000px;
}

.sales-condition-container > h1,
.sales-condition-container > h2 {
  color: white;
}

.sales-condition-container > h1 {
  margin-bottom: 1em;
}

.sales-condition-container > p,
.sales-condition-container > ul > li {
  color: var(--grey-txt);
}

@media only screen and (min-width: 967px) and (max-width: 1280px) {
  .sales-condition-container {
    padding: 1em;
  }
}

@media only screen and (min-width: 800px) and (max-width: 966px) {
  /*style petites-moyennes tablettes */

  .sales-condition-container {
    padding: 1em;
  }
}

@media only screen and (min-width: 321px) and (max-width: 799px) {
  /*style smartphones et petites tablettes en portrait*/
  .sales-condition-container {
    padding: 1em;
  }
}
