<!DOCTYPE html>
<html>
<head lang="fr">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<style>
        body {
            max-width: 500px;
        } 
        .button, .x_button {
            border: none;
            color: white !important;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 12px;
            background: linear-gradient(10deg, #ff8000, transparent) #ff4020;
            background-color: linear-gradient(10deg, #ff8000, transparent) #ff4020;
            background-color: #ff5400;
        }
        .logo-container {
            padding: 0.5em;
            background-color: #070707;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .main {
            background-color: #292929;
            padding: 1em;
        }
        .main, .main>* {
            text-align: center;
            color: white;
        }
        .logo-container>img {
            height: 70px;
            width: 70px;
        }
        .logo-container>h3 {
            color: white;
            margin: 0;
            line-height: 1;
        }
    </style>
</head>
	<body>
		<div class='logo-container'>
			<img src="{{ absolute_url(asset('images/logo.png')) }}" alt="PishaGaming">
        	<h3>Pisha</h3>
        	<h3>Gaming</h3>
    	</div>
		<div class="main">
			<h2>Réinitialisation de votre mot de passe</h2>
			<p>Pour réinitialiser votre mot de passe, veuillez cliquer sur le lien ci-dessous. <br />
			⚠ Ce lien est valide durant 24H.</p>
			<a href="http://localhost:5173/reset-password/{{token}}" class="button">Changer de mot de passe</a>
		</div>
	</body>
</html>
