{% apply inline_css(source('@styles/app.css')) %}
<!DOCTYPE html>
<html>
<head lang="fr">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<style>
		
	</style>
</head>
	<body>
		<div class='logo-container'>
			<img src="{{ absolute_url(asset('images/logo.png')) }}" alt="PishaGaming">
			<h2>Pisha</h2>
			<h2>Gaming</h2>
		</div>
		<div class="main">
			<h1>Bienvenue !</h1>
			<h4>Votre compte a bien été créé, il ne vous reste plus qu'à l'activer en cliquant sur le bouton ci-dessous.</h4>
			<a href="http://localhost:5173/verifyEmail/{{token}}" class="button">Activer votre compte</a>
		</div>
	</body>
</html>
{% endapply %}
